/Chatbot/nbproject/private/
/Chatbot/build/
/Registration/nbproject/private/
/Registration/build/
/Cookies Servlet/nbproject/private/
/JSPdemo/nbproject/private/
/JSPdemo/build/
/Factorial JSP/nbproject/private/
/Factorial JSP/build/
/Power Calculator of two/nbproject/private/
/Power Calculator of two/build/
/SimpleOrderForm/nbproject/private/
/SimpleOrderForm/build/
/Sine Table/nbproject/private/
/Sine Table/build/
/SineTable/nbproject/private/
/SineTable/build/
